<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/login.css') }}">
    <title>Login</title>
</head>
<body>
    <main class="container">
        <!-- Sessão de Login -->
        <section  class="sessao-login">
            <h1 class="login">
                <span class="dleft"></span>
                LOGIN
                <span class="dright"></span>
            </h1>

            <form class="formulario-login", method="post">
                <!-- Campo de E-mail -->
                <!-- <div class="campo">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div> -->
                
                <!-- Campo de Senha -->
                <!-- <div class="campo">
                    <label for="senha">Senha</label>
                    <div class="senha-box">
                        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
                    </div>
                </div> -->

                
    {{ form.csrf_token }}

    {{ form.nome(placeholder="Digite seu nome") }}
<br>
    {{ form.sobrenome(placeholder="Digite seu sobrenome") }}
<br>
    {{ form.cpf(placeholder="123.456.789-00") }}
<br>
    {{ form.data_nascimento() }}
<br>
    {{ form.telefone(placeholder="(DDD) 9XXXX-XXXX") }}
<br>
    {{ form.email(placeholder="Digite seu e-mail") }}
<br>
    {{ form.senha(placeholder="Digite sua senha") }}
<br>
    {{ form.confirmar_senha(placeholder="Digite sua senha novamente") }}
<br>
    {{ form.submit() }}
                
            </form>
        </section>

        <!-- Sessão de Cadastro -->
        <section class="sessao-cadastro">
            <h2>Olá, Guardião!</h2>
            <p>Já possui conta? <br> Faça login e <br>continue sua jornada conosco.</p>
            <a href="{{ url_for('login') }}" class="btn-cadastro">Login</a>
        </section>
    </main>        
</body>
</html>