<footer class="footer">
  <div class="container footer__content">
    <a href="{{ url_for('homepage') }}" class="logo footer__logo" aria-label="Página inicial de Matheus Farias">
      <img
        src="{{ url_for('static', filename='/assets/img/logo/svg/gv-logo-vertical-com-tag.svg') }}"
        alt="Logo do clube de desbravadores Guardiões da Verdade"/>
    </a>
    <nav class="footer__nav" aria-label="Footer Navigation">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="{{ url_for('homepage') }}" class="footer__nav-link">Home</a>
        </li>
        <li class="footer__nav-item">
          <a href="{{ url_for('sobre') }}" class="footer__nav-link">Sobre</a>
        </li>
        <li class="footer__nav-item">
          <a href="{{ url_for('eventos') }}" class="footer__nav-link">Eventos</a>
        </li>
        <li class="footer__nav-item">
          <a href="{{ url_for('contato') }}" class="footer__nav-link">Contato</a>
        </li>
      </ul>
    </nav>
    <div class="footer__section footer__section--copyright">
      <p class="footer__text">&copy; 2025 Guardiões da Verdade. Todos os direitos
        reservados.</p>
      <p class="footer__text footer__text--made-by">Feito com ❤️ por Matheus
        Farias e Kauã Vinicius</p>
    </div>
  </div>
</footer>