<header class="header">
    <div class="container">
        <a href="/" class="logo" aria-label="Página inicial">
            <img src="/assets/img/logo/svg/gv-logo-principal.svg" alt="Logo do clube de desbravadores Guardiões da Verdade">
        </a>
        <nav class="nav" aria-label="Navegação principal do site">
            <button class="nav__toggle" aria-controls="nav__menu" aria-expanded="false" aria-label="Abrir menu de navegação">
                <span class="nav__toggle-icon"></span>
            </button>
            <ul id="nav__menu" class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="/about" class="nav__link">Sobre</a></li>
                <li class="nav__item"><a href="/events" class="nav__link">Eventos</a></li>
                <li class="nav__item"><a href="/contact" class="nav__link">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>