{% extends "base/base.html" %}

{% block title %}Contato | Clube de Desbravadores{% endblock %}
{% block description %}Entre em contato com o Clube de Desbravadores Guardiões da Verdade e saiba mais sobre nossa missão e atividades.{% endblock %}
{% block ogtitle %}Contato | Clube de Desbravadores{% endblock %}
{% block ogdescription %}Entre em contato com o Clube de Desbravadores Guardiões da Verdade e saiba mais sobre nossa missão e atividades.{% endblock %}
{% block twittertitle %}Contato | Clube de Desbravadores{% endblock %}

{% block css %}

{% endblock %}

<!-- body -->
{% block content %}

<main class="main">
    <section class="section">
        <h1 class="section__title">Entre em Contato</h1>
        <p class="section__paragraph">
        Se você tem alguma dúvida ou deseja mais informações sobre o Clube de Desbravadores Guardiões da Verdade, sinta-se à vontade para entrar em contato conosco.
        </p>
        
        <p>Nome:</p>

        <a href="{{ link_whatsapp }}" target="_blank">Enviar Mensagem</a>
    </section>
</main>

{% endblock %}

{% block scripts %}
{% endblock %}

